/* Light mode styles */
body {
  background: linear-gradient(135deg, #bcd5d8, #6c9ccd);
  color: #000000;
}

/* Dark mode styles */
body.dark-mode {
  background: linear-gradient(135deg, #135057, #07213b);
  color: #ffffff;
}

/* Header styles */
.Header {
  margin-top: -8px;
  margin-bottom: 0;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}

.header-icon {
  margin-right: 10px;
}

.header-text {
  font-weight: bold;
}

.dark-mode .header-link {
  color: white;
}

/* Search container */
.search-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#inputCity {
  
  margin: 0;
  width: 0;
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
  background: transparent;
  transition: all 0.2s linear;
  color: #000000;
  outline: none;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search:hover > #inputCity {
  color: #000000;
  width: auto;
  padding: 7px;
  border: 2px solid #6c9ccd;
}

.search:hover > #SearchBtn {
  background-color: transparent;
  color: #000000;
}

#SearchBtn {
  border: none;
  border-radius: 50%;
  background-color: #6c9ccd;
  padding: 7px;
  cursor: pointer;
  color: #000000;
  transition: background-color 0.3s;
  position: absolute;
  right: 0.2rem;
  display: grid;
  place-items: center;
}

.dark-mode .search:hover > #inputCity {
  background-color: transparent;
  color: #ffffff;
}
.dark-mode .search:hover > #SearchBtn {
  background-color: transparent;
  color: #ffffff;
}

.toggleBtn {
  margin-left: 20px;
  font-size: 1rem;
}

/* Responsive design */
@media (max-width: 1130px) {
  h1 a {
    font-size: 1.8rem;
  }

  #SearchBtn {
    font-size: 0.9rem;
  }
}

@media (max-width: 960px) {
  h1 a {
    font-size: 1.5rem;
  }

  #inputCity {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .Header {
    flex-direction: column;
    align-items: flex-start;
  }

  h1 a {
    font-size: 1.3rem;
  }

  .search-container {
    width: 100%;
    justify-content: space-between;
  }

  #inputCity {
    font-size: 0.8rem;
  }

  #SearchBtn {
    font-size: 0.8rem;
    padding: 5px;
  }

  .toggleBtn {
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  h1 a {
    font-size: 1rem;
  }

  #inputCity {
    font-size: 0.8rem;
  }

  #SearchBtn {
    font-size: 0.8rem;
    padding: 5px;
  }
}
